:root {
  --default-font: "Raleway", sans-serif;
  /* Theme Light */
  --color-bg: oklch(96% 0.02 12.72); /* #FBF0EF */
  --color-text: oklch(26% 0.01 257.42); /* #232323 */
  --color-text-2: oklch(53% 0.06 32.99); /* #775144 */
  --color-primary: oklch(64% 0.15 241.74); /* #279AF1 */
  --color-secondary: oklch(81% 0.17 114.24); /* #B6C454 */
}

[data-theme="dark"] {
  --color-bg: oklch(26% 0.01 257.42); /* #232323 */
  --color-text: oklch(96% 0.02 12.72); /* #FBF0EF */
  --color-text-2: oklch(81% 0.17 114.24); /* #B6C454 */

  --color-primary: oklch(64% 0.15 241.74); /* #279AF1 */
  --color-secondary: oklch(53% 0.06 32.99); /* #775144 invertida como acento */
}

/* Reset Moderno e Seguro */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "Raleway", system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: var(--color-text);
  background: var(--color-bg);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button,
input,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

:focus-visible {
  outline: 2px solid var(--color-primary);
  outline-offset: 4px;
}

button {
  cursor: pointer;
  color: var(--color-bg);
  background-color: var(--color-primary);
  padding: 1em 2em;
  border: 2px solid transparent;
  outline-offset: 0.2s ease-in-out;
  transition: 200ms;
}

button:hover {
  color: var(--color-primary);
  background-color: var(--color-bg);
  border: 2px solid var(--color-primary);
}
