/*  ========BOTÕES======= */

.btn {
  cursor: pointer;
  font: inherit;
  padding: 0.75em 1.5em;
  border-radius: var(--radius-lg, 0px);
  border: 2px solid transparent;
  outline-offset: -2px;
  transition: 0.25s ease-in-out;
  display: inline-flex;
  align-items: center;
  justify-self: center;
  gap: 0.5em;
  font-weight: 600;
}

.btn-primary {
  --_bg: var(--color-primary);
  background: var(--_bg);
  color: color-contrast(var(--_bg) vs var(--color-bg), var(--color-text) to AA);
}

.btn-primary:hover {
  background-color: color-mix(in oklch, var(--_bg) 88%, white 12%);
}

.btn-secondary {
  --_bg: var(--color-secondary);
  background: var(--_bg);
  color: color-contrast(var(--_bg) vs var(--color-bg), var(--color-text) to AA);
}

.btn-secondary:hover {
  background: transparent;
  color: color-contrast(
    var(--color-secondary) vs var(--color-bg),
    black,
    white to AA
  );
  border-color: var(--color-secondary);
}

[data-theme="dark"] .btn-primary:hover {
  background: color-mix(in oklch, var(--color-primary) 85%, white 15%);
}

.btn-terciary {
  background: transparent;
  color: var(--color-text);
  position: relative;
}

.btn-terciary:hover {
  color: color-contrast(
    var(--color-primary) vs var(--color-bg),
    black,
    white to AA
  );
}

.btn-terciary::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background: currentColor;
  transition: width 0.25s ease;
}

.btn-terciary:hover::after {
  width: 100%;
}
