.btn {
  cursor: pointer;
  font: inherit;
  padding: 0.75em 1.5em;
  border-radius: var(--radius-lg, 0px);
  border: 2px solid transparent;
  transition: 0.25s ease-in-out;
  display: inline-flex;
  align-items: center;
  justify-self: center;
  gap: 0.5em;
  font-weight: 600;
}

.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-bg);
}

.btn-primary:hover {
  background-color: color-mix(in oklch, var(--color-primary) 88%, black 12%);
}

.btn-secondary {
  background-color: var(--color-secondary);
  color: var(--color-bg);
}

.btn-secondary:hover {
  background: transparent;
  color: var(--color-secondary);
  border-color: var(--color-secondary);
}

[data-theme="dark"] .btn-primary:hover {
  background: color-mix(in oklch, var(--color-primary) 85%, black 15%);
}

[data-theme="dark"] .btn-secondary:hover {
  background: color-mix(in oklch, var(--color-primary) 85%, black 15%);
}

.btn-terciary {
  background: transparent;
  color: var(--color-text);
}

.btn-terciary:hover {
  color: var(--color-primary);
}
